.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
img{
  height: 100px;
  width: 100px;
  margin: 20px;
}
.description{
border: 1px solid lightblue;
margin: auto;
width: 100px;
height: 100px;
padding: 10px;

}

